.assess-time-progress-container {
  width: 33%;
  box-sizing: border-box;
}

.assess-time-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #475987;
  padding: 10px 25px 10px 25px;
  color: #F8FAFC;
  font-family: 'Roboto';
  margin-bottom: 5px;
}

.assess-time-bar-label {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}

.assess-time-bar-text {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
}

.assess-submit-button {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #164687;
  border-radius: 4px;
  font-family: 'Hanken Grotesk';
  font-size: 16px;
  font-weight: 500;
  color: #164687;
}

.assess-progress-container {
  margin-top: 5px;
  background-color: #fff;
  height: 100%;
  box-shadow: 0 0 15px 0 #DAE4FA80;
  border-radius: 4px;
}

.assess-progress-details-summary-container {
  border-bottom: 1px solid #E2E8F0;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.assess-progress-details-summary-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.assess-attempted-total-num {
  background-color: #7C599F;
  color: #F8FAFC;
  border-radius: 500px;
  margin: 0 10px 0 0;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assess-unattempted-total-num {
  color: #64748B;
  border: 1px solid #CBD5E1;
  border-radius: 500px;
  margin: 0 10px 0 0;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assess-attempted-total-num-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

.assess-details-summary-label {
  color: #496387;
  font-weight: 400;
  font-size: 14px;
}

.assess-detailed-progress {
  padding: 20px;
}

.assess-detailed-progress-heading {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: #164687;
  margin: 0;
  padding: 0;
}

.assess-detailed-progress-list-container {
  list-style: none;
  display: grid;
}