.question-bg-container {
  grid-column: 1 / span 2;
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
  margin-right: 20px;
  box-shadow: 0 0 15px 0 #dae4fa80;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question-main-text {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  color: #164687;
  border-bottom: 1px solid #9797973f;
  padding-bottom: 20px;
}

.question-options-list-container {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
  row-gap: 25px;
}

.question-bottom-container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: end;
}

.next-question-button {
  grid-column: 3;
  width: 130px;
  justify-self: end;
  background-color: #164687;
  border-radius: 4px;
  border-style: none;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
  height: fit-content;
}

.question-dropdown-info {
  grid-column: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #d97706;
  background-color: #fef3c7;
  border-radius: 12px;
  justify-self: center;
  padding: 15px 20px 15px 20px;
}

.question-dropdown-info-icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.question-dropdown-info-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

@media (max-width: 767px) {
  .question-bg-container {
    margin: 0;
    padding: 20px;
  }

  .question-options-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px 0;
  }

  .question-main-text {
    font-size: 16px;
  }

  .question-bottom-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .question-dropdown-info-text {
    font-size: 14px;
  }

  .question-dropdown-info {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px 10px 15px;
  }

  .next-question-button {
    margin-top: 20px;
  }
}