.assessment-bg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  background-color: #fafbfe;
  padding: 20px;
  overflow: auto;
}

.loader-container {
  align-self: center;
}

@media (min-width: 768px) {
  .assessment-content-bg-container {
    display: grid;
    grid-template-columns: auto auto clamp(320px, calc(100% / 3), 420px);
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .assessment-content-bg-container {
    display: flex;
    flex-direction: column-reverse;
  }
}
